.mediumWordCounter {
    background-color: rgba(255,255,255,0.97);
    left: 3.4rem;
    top: 0.6rem;
    line-height: 44px;

    padding: 0 9px;
    position:fixed;

    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition:all .3s;
}

.mediumWordCounter.hidden {
    display:none;
}

.metabar-block.align-left ~ .mediumWordCounter {
    left:7.6rem;
}

.metabar-light .mediumWordCounter {
    position:absolute;
    color:white;
    background-color: transparent;
}

.distraction-free .mediumWordCounter {
    left:5rem !important;
    -webkit-transition: all .5s .3s;
    -moz-transition: all .5s .3s;
    -ms-transition: all .5s 3s;
    -o-transition: all .5s .3s;
    transition:all .5s .3s;
}
